/* Full app page */
.App {
  text-align: center;
}

/* Header */
#header {
  background-image: linear-gradient(to right, white, #70bdd6,#70bdd6);
}

header .header_logo {
  flex-grow: 1;
}

header .header_text {
  font-size: 50px;
  font-family: Gelasio serif;
}

.page_container {
  min-height: 75vh;
  padding-top: 85px;
}

/* Footer */
.footer {
  padding:32px 0px ;
  text-align: center;
  font-size: 25px;
  color:#ffffff;
  background-image: linear-gradient(to right, white, #70bdd6,#70bdd6);
}
.font_righteous {
  font-family: Righteous, cursive;
}

.icon{
  margin-top: 20px;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}


/* test page */
.testbutton1 {
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

.testbutton2 {
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

.testbutton3 {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}
.testbutton4 {
  position: absolute;
  top: 50%;
  left: 50%;
   margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

/* Home page  */
.background{
  height: 870px;
}

.lefthalf{
  position: absolute;
  overflow: hidden;
  background-color:#70bdd6;
  width: 50%;
  height: inherit;
  margin-left: 0px;
  z-index: -10;
}

.righthalf {
  position: absolute;
  float: left;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin-left: 50%;
  height: 91.22%;
  z-index: -10;

}

.bck-logo{
  background-color:#70bdd6;
  position: absolute;
  border-radius: 100%;
  border: 10px solid rgb(255, 255, 255);
  margin-top: 30%;
  margin-left: 47%;
  width: 150px;
  height: 150px;
  z-index: -10;

}

/* Login */


.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 200px;
  height: 100%;
}

.FormCenter {
  margin-top:30%;
  margin-bottom: 100px;
  margin-left: 20%;
  font-size: 20px;
  display : inline-block;
  transform: translateY(-30px)
}
.FormCenter h3 {
  text-align: left;
  margin-left: 100px;
  font-size: 30px;
  border-bottom:#70bdd6 double;
  max-width: 100px;
  color: #70bdd6;

}
.FormCenter1 {
  font-size: 20px;
  margin-top: 30%;
  margin-left: 8%;
  display : inline-block;
  transform: translateX(-60px);
  transform: translateY(-40px);
}
.FormCenter1 h3{
  font-size: 30px;
  text-align: left;
  margin-left: 250px;
  border-bottom: white double;
  max-width: 100px;
  color: white;

}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
 
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 250px;
}
.FormField1 {
  
  margin-bottom: 50px;
  margin-left: 100px;
  
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;

}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color:black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 20px;
}

.FormField__Input::placeholder {
  color: rgb(192, 189, 189);
  opacity: 1;
}

.FormField__Button {
  background-color: white;
  color: #70bdd6;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}


/* result */

.message{
  margin-left: 20%;
  transform: translate(0px,300px);
  font-size: 20px;
  text-align: left;
}

.typewriter h1 {
  color: #70bdd6;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #70bdd6; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #70bdd6; }
}

/* scroll  */

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 48%;
  margin-left: -16px;
  display: block;
  width: 100px;
  height: 100px;
  border: 5px solid #70bdd6;
  background-size: 50px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #70bdd6;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  box-sizing: border-box;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 20vh auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(6, 1fr);
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  /* background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-color: #34a853;
}
.card:nth-child(2):before {
  /* background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-color: #ea4335;
}
.card:nth-child(3):before {
  /* background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-color: #fbbc05;
}
.card:nth-child(4):before {
  /* background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-color: #4285f4;
}
.card:nth-child(5):before {
  /* background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-color: #34a853;
}
.card:nth-child(6):before {
  /* background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-color:  #ea4335;
}
.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}


/* button for logout and showing details */

.button-details{
  margin-top: 30%;

}
 button{
  background-color: #70bdd6;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-left: 30px;
  padding: 15px 70px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5%;
}
