/* Full app page */
.App {
  text-align: center;
}

/* Header */
header {
  padding:10px 0px;
}

header .header_logo {
  flex-grow: 1;
}

header .header_text {
  font-size: 50px;
  font-family: Gelasio serif;
}

.page_container {
  min-height: 75vh;
  padding-top: 85px;
}

/* Footer */
.footer {
  padding:32px 0px ;
  text-align: center;
  font-size: 25px;
  color:#ffffff;
  background:#000000be;
}
.font_righteous {
  font-family: Righteous, cursive;
}

.icon{
  margin-top: 20px;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}


/* test page */
.testbutton1 {
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

.testbutton2 {
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

.testbutton3 {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}
.testbutton4 {
  position: absolute;
  top: 50%;
  left: 50%;
   margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

/* Home page  */

.lefthalf{
  position: absolute;
  overflow: hidden;
  background-color:#70bdd6;
  width: 50%;
  height: 91.25%;
  margin-left: 0px;
  z-index: -10;
}

.righthalf {
  position: absolute;
  float: left;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin-left: 50%;
  height: 91.22%;
  z-index: -10;

}

.bck-logo{
  background-color:#0099cc;
  position: absolute;
  border-radius: 100%;
  border: 10px solid rgb(255, 255, 255);
  margin-top: 30%;
  margin-left: 47%;
  width: 150px;
  height: 150px;
  z-index: -10;

}

/* Login */


.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 200px;
}

.FormCenter {
  margin-top:30%;
  margin-bottom: 100px;
  margin-left: 20%;
  font-size: 20px;
  display : inline-block;
  transform: translateY(-30px)
}
.FormCenter h3 {
  text-align: left;
  margin-left: 100px;
  font-size: 30px;
  border-bottom: rgb(102, 105, 109) double;
  max-width: 100px;

}
.FormCenter1 {
  font-size: 20px;
  margin-top: 30%;
  margin-left: 8%;
  display : inline-block;
  transform: translateX(-60px);
  transform: translateY(-40px);
}
.FormCenter1 h3{
  font-size: 30px;
  text-align: left;
  margin-left: 250px;
  border-bottom: rgb(102, 105, 109) double;
  max-width: 100px;

}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
 
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 250px;
}
.FormField1 {
  
  margin-bottom: 50px;
  margin-left: 100px;
  
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;

}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color:black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 20px;
}

.FormField__Input::placeholder {
  color: rgb(192, 189, 189);
  opacity: 1;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}


/* result */

.cards-collection{
margin-top: 25vh;
display: flex;
margin-left: 5%;
flex-wrap: wrap;

}

.card{

  padding: 50px;
  background-color: rgb(185, 197, 199);
  margin: 10px;
  width: 13%;

}

/* cards */
.card_wrapper {
  background: #ffffff;
  border: 1px solid #ececec;
  width: 300px;
  padding: 10px 10px 20px 10px;
  font-family: 'Righteous';
}

.card_wrapper .card_thmb {
  border: 1px solid #eeeeee;
  width:100%;
  height:250px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}
.card_wrapper .card_info {
  position: relative;
  margin-left: 25%;
  margin-top: 26px;
}
.card_wrapper .card_name {
  position: absolute;
  bottom: 0px;
}
.card_wrapper .card_name span { 
  display: block;
  font-size: 25px;
  color: #3f70e0;
}