/* Full app page */
.App {
  text-align: center;
}

/* Header */
header {
  padding:10px 0px;
}

header .header_logo {
  flex-grow: 1;
}

header .header_text {
  font-size: 50px;
  font-family: Gelasio serif;
}

.page_container {
  min-height: 75vh;
  padding-top: 85px;
}

/* Footer */
.footer {
  padding:32px 0px ;
  text-align: center;
  font-size: 25px;
  color:#ffffff;
  background:#000000be;
}
.font_righteous {
  font-family: Righteous, cursive;
}

.icon{
  margin-top: 20px;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}


/* test page */
.testbutton1 {
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

.testbutton2 {
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

.testbutton3 {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}
.testbutton4 {
  position: absolute;
  top: 50%;
  left: 50%;
   margin-top: -100px;
  margin-left: -50px;
  width: 5%;
}

/* Home page  */

.lefthalf{
  position: absolute;
  overflow: hidden;
  background-color:#0099cc;
  width: 50%;
  height: 91.25%;
  margin-left: 0px;
  z-index: -10;
}

.righthalf {
  position: absolute;
  float: left;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin-left: 50%;
  height: 91.22%;
  z-index: -10;

}

.bck-logo{
  background-color:#0099cc;
  position: absolute;
  border-radius: 100%;
  border: 10px solid rgb(255, 255, 255);
  margin-top: 30%;
  margin-left: 47%;
  width: 150px;
  height: 150px;
  z-index: -10;

}

/* Login */


.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 10px;
  display : inline-block;
}
.FormCenter1 {
  margin-top: 0px;
  margin-left: 10px;
  display : inline-block;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
 
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 250px;
}
.FormField1 {
  
  margin-bottom: 50px;
  margin-left: 100px;
  
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;

}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color:black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 20px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}